.invoice_text_normal{color:#000;}
.invoice_text_light{color:#424242;}
.invoice_bar,.estimate_bar{background-color:#efefef;border-top:#e4e4e4;border-bottom:#e4e4e4;}
.invoice_line,.estimate_line,.estimate_option{border-bottom:#f3f3f3;}
.invoice_line.alt,.estimate_line.alt,.estimate_option.alt{background-color:#fdfdfd;}
.invoice_total,.estimate_total{color:#000;}
.invoice_notes{border-top:#f3f3f3;border-bottom:#f3f3f3;background-color:#fdfdfd;}