/* --- CSS Reset --- */
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,code,
del,dfn,em,img,q,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
/* --- Typography --- */

/* Headings */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited { color: #3875d7; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

li ul, 
li ol       { margin:0 0 0 1.5em; }
ul, ol      { margin: 0 0 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

ul.no-style, ol.no-style { margin-left: 0; padding: 0; list-style: none; }
ul.no-style li, ol.no-style li { list-style: none; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }

.left { float:left; margin-right: 20px; }
.right { float:right; margin-left: 20px; }
.center { text-align: center; }

.left.border-right { padding-right: 20px; margin-bottom: 20px; border-right: 1px solid #ddd; }

.hide { display: none; }

/* form default */
form.default { margin-bottom: 1.5em; padding: 0 15px; background: #eee; }
form.default h2 { margin:0 -15px 15px; padding: 10px 15px; background: #edf3fe; border:0; }
form.default label { display: block; padding-top: 5px; width: 100%; text-align: left; color: #555; }
form.default textarea { width: 100%; border: 1px solid #aaa; }
form.default input[type="text"] { border: 1px solid #aaa; min-width: 500px; }
form.default .title { font-size: 1.3em; }
form.default .buttons { margin-top: 8px; padding: .5em 0; border-top: 1px solid #d5d5d5; }
form.default .buttons a { color: #cb2227; }
form.default:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden; }

/* --- Grid --- */
.grid {width:940px;margin-left:20px;}
.c1 {width:74px;}
.c2 {width:168px;}
.c3 {width:262px;}
.c4 {width:356px;}
.c5 {width:450px;}
.c6 {width:544px;}
.c7 {width:638px;}
.c8 {width:732px;}
.c9 {width:826px;}
.c10{width:920px;}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  float: left;
  margin-right: 20px;
}
.last { margin-right:0; }

/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  overflow:hidden; 
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }
